@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@font-face {
  font-family: 'Vazir';
  src: url("../font/vazir-font-v16.1.0/Vazir-Bold.ttf");
}

@font-face {
  font-family: 'dirooz';
  src: url("../font/dirooz/Dirooz.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 43%;
  }
}

body {
  font-family: 'Vazir';
  font-size: 1.6rem;
  font-weight: 400;
  text-align: right;
}

.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
}

.footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 15px 0;
  transition: all 0.3s;
  cursor: pointer;
}

.footer__item:hover {
  background-color: #eee;
}

.main__topic {
  margin-top: 50px;
  font-family: "Vazir";
  font-size: 4rem;
}

@media only screen and (max-width: 350px) {
  .main__topic {
    font-size: 25px;
  }
}

.main__topic span {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
}

.main__img {
  width: 100%;
  margin-top: 20px;
}

.main__img img {
  width: 100%;
}

.sidebar {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  border-bottom: 1px solid #ddd;
  padding: 1.5rem 17rem;
  padding-bottom: 3px;
}

@media only screen and (max-width: 68.75em) {
  .sidebar {
    padding: 1.5rem 14rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .sidebar {
    padding: 1.5rem 10rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .sidebar {
    padding: 1.5rem 5rem;
  }
}

@media only screen and (max-width: 500px) {
  .sidebar {
    padding: 1.5rem 3rem;
  }
}

.sidebar__img {
  width: 60px;
  margin-right: auto;
}

.sidebar__img img {
  width: 100%;
}

.sidebar__btn {
  text-decoration: none;
  display: inline-block;
  background-color: #3A7A7C;
  padding: 1.1rem 1.8rem;
  border-radius: 300px;
  color: rgba(255, 255, 255, 0.9);
  font-family: "dirooz";
  font-weight: 100;
  position: relative;
  z-index: 1;
  transition: all 0.2s;
  outline: none;
}

.sidebar__btn:hover {
  transform: translateY(-2px);
}

.sidebar__btn:active {
  transform: translateY(3px);
}

.sidebar__btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #3A7A7C;
  z-index: -1;
  opacity: 1;
  border-radius: 300px;
  transition: all 0.3s;
}

.sidebar__btn:hover::after {
  opacity: 0;
  transform: scale(1.4, 1.6);
}

.content {
  padding: 2rem;
  align-items: center;
  width: 55%;
  margin: 0 auto;
  background-color: rgba(238, 238, 238, 0.3);
}

@media only screen and (max-width: 68.75em) {
  .content {
    width: 65%;
  }
}

@media only screen and (max-width: 43.75em) {
  .content {
    width: 100%;
    padding: 2rem 0;
  }
}

.content__header {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 3px;
  padding-top: 3px;
}

@media only screen and (max-width: 43.75em) {
  .content__header {
    width: 100%;
    padding: 1rem 0;
  }
}

.content__header--item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-family: sans-serif;
  font-weight: 400;
  justify-content: center;
}

.content__header--item--first {
  display: flex;
  align-items: center;
}

.content__header--item--second {
  display: flex;
  align-items: center;
}

.content__header--item--second span {
  margin-top: 2px;
}

@media only screen and (max-width: 700px) {
  .content__header--item {
    flex-direction: column;
  }
}

.content__header--item img {
  width: 4rem;
}

@media only screen and (max-width: 550px) {
  .content__header--item img {
    display: flex;
  }
}

.content__header--item span {
  margin-left: 20px;
  color: #777;
  font-size: 16px;
}

@media only screen and (max-width: 1100px) {
  .content__header--item span {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .content__header--item span {
    font-size: 15px;
  }
}

.content__header--link {
  text-decoration: none;
  margin-left: 5px;
  color: #222;
  font-weight: 500;
}

@media only screen and (max-width: 900px) {
  .content__header--link {
    padding-top: 2px;
  }
}

.content__user {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-family: sans-serif;
  margin-top: 3rem;
}

.content__user img {
  clip-path: circle(50%);
  width: 60px;
  margin-right: 20px;
  margin-left: 20px;
}

@media only screen and (max-width: 550px) {
  .content__user img {
    width: 50px;
  }
}

.content__user figcaption {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.content__user--name {
  font-weight: 400;
  font-size: 17px;
  color: #222;
  margin-bottom: 3px;
  text-decoration: none;
  position: relative;
}

@media only screen and (max-width: 550px) {
  .content__user--name {
    font-size: 15px;
    transform: translateX(-8px);
  }
}

.content__user--name--info {
  position: absolute;
  top: 170px;
  background-color: #fff;
  left: 340px;
  width: 350px;
  clip-path: polygon(0 33%, 20% 33%, 46% 33%, 52% 20%, 59% 33%, 100% 34%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 8% 100%, 0 100%);
  transition: all 0.8s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  border: 1px solid #eee;
  box-shadow: 0 0 4rem rgba(17, 17, 17, 0.3);
}

@media only screen and (min-width: 75em) {
  .content__user--name--info {
    left: 38rem;
    top: 17rem;
  }
}

@media only screen and (max-width: 1600px) {
  .content__user--name--info {
    left: 29rem;
  }
}

@media only screen and (max-width: 1200px) {
  .content__user--name--info {
    left: 20rem;
  }
}

@media only screen and (max-width: 900px) {
  .content__user--name--info {
    top: 22rem;
  }
}

@media only screen and (max-width: 700px) {
  .content__user--name--info {
    top: 30rem;
    left: 0rem;
  }
}

@media only screen and (max-width: 550px) {
  .content__user--name--info {
    top: 27rem;
    left: 0rem;
    width: 300px;
  }
}

.content__user--name--info:hover {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateY(0px);
}

.content__user--name--info--footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.content__user--name--info--footer--btn {
  text-decoration: none;
  display: inline-block;
  background-color: #3A7A7C;
  padding: 5px 12px;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.9);
  font-family: "dirooz";
  font-weight: 100;
  position: relative;
  z-index: 1;
  transition: all 0.2s;
  outline: none;
}

.content__user--name--info--footer--btn:hover {
  transform: translateY(-2px);
}

.content__user--name--info--footer--btn:active {
  transform: translateY(3px);
}

.content__user--name--info--footer--btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #3A7A7C;
  z-index: -1;
  opacity: 1;
  border-radius: 300px;
  transition: all 0.3s;
}

.content__user--name--info--footer--btn:hover::after {
  opacity: 0;
  transform: scale(1.4, 1.6);
}

.content__user--name--info figure {
  padding-top: 10rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.content__user--name--info figure img {
  border-radius: 100%;
  width: 40px;
}

.content__user--name--info figure span {
  color: #111;
  font-size: 22px;
  font-weight: 600;
  transform: translateX(-15px);
}

.content__user--name--info p {
  text-align: right;
  padding-right: 10px;
  font-family: "dirooz";
  padding-left: 100px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.content__user span {
  color: #666;
  font-family: 600;
  font-size: 14px;
}

.content__user span:not(:first-child) {
  margin-left: 10px;
}

.content__introduction {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .content__introduction {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 550px) {
  .content__introduction {
    padding: 0 0rem;
  }
}

.content__introduction--logo {
  margin-top: 5px;
  text-align: center;
  margin-right: 20px;
  font-size: 30px;
  color: #111;
  line-height: 1;
  margin-top: 5px;
}

@media only screen and (max-width: 550px) {
  .content__introduction--logo {
    font-size: 24px;
  }
}

.content__introduction--logo span {
  display: block;
  font-family: 'Caveat', cursive;
}

@media only screen and (max-width: 550px) {
  .content__user--info span {
    font-size: 12px;
  }
}

@media only screen and (max-width: 550px) {
  .content__user--info {
    transform: translateX(-8px);
  }
}

.content__user--name:hover + .content__user--name--info {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  border: 1px solid #eee;
}
/*# sourceMappingURL=main.css.map */