@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@font-face {
    font-family: 'Vazir';
    src: url('../font/vazir-font-v16.1.0/Vazir-Bold.ttf');
}

@font-face {
    font-family: 'dirooz';
    src: url('../font/dirooz/Dirooz.ttf');
}

$font-vazir:'Vazir';
$font-dirooz:'dirooz';


$color-nav:#11101d;

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
    font-family: 'Vazir';
    font-size: 1.6rem;
    font-weight: 400;
    text-align: right;
}


.footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid #ccc;



    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: red;
        width: 25%;
        padding: 15px 0;
        transition: all 0.3s;
        cursor: pointer;

        &:hover{
            background-color: #ccc;
        }




    }
}