.content {

    padding: 2rem ;
    align-items: center;
    width: 55%;
    margin: 0 auto;
    background-color: rgba(#eee, 0.3);
    


    @media only screen and (max-width:$bp-large) {
        width: 65%;
    }

    // @media only screen and (max-width:$bp-medium) {
    //     width: 90%;
    // }

    @media only screen and (max-width:$bp-small) {
        width: 100%;
        padding: 2rem 0;

    }




    &__header {
        border-bottom: 1px solid rgb(214, 214, 214);
        // padding-left: 28rem;
        padding-bottom: 3px;
        padding-top: 3px;


        @media only screen and (max-width:$bp-small) {
            width: 100%;
            padding: 1rem 0;

        }

        &--item {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            font-family: sans-serif;
            font-weight: 400;
            justify-content: center;
            

            &--first {
                display: flex;

                align-items: center;



            }

            &--second {
                display: flex;
                align-items: center;

                span{
                    margin-top: 2px;
                }
            }

            @media only screen and (max-width:700px) {
                flex-direction: column;
               


            }






            img {
                width: 4rem;

                @media only screen and (max-width:550px) {
                    display: flex;

                }
            }

            span {
                margin-left: 20px;
                color: #777;
                font-size: 16px;



                @media only screen and (max-width:1100px) {
                    margin-left: 10px;
                }

                @media only screen and (max-width:500px) {
                    font-size: 15px;
                }


            }
        }


        &--link {
            text-decoration: none;
            margin-left: 5px;

            color: #222;
            font-weight: 500;

            @media only screen and (max-width:900px) {
                padding-top: 2px;
            }
        }


    }



    &__user {
        
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        font-family: sans-serif;
        margin-top: 3rem;
    

        img {
            clip-path: circle(50%);
            width: 60px;
            margin-right: 20px;
            margin-left: 20px;
            
            @media only screen and (max-width:550px) {
                width: 50px;
            }
        }

        figcaption {
            display: flex;
            flex-direction: column;
            text-align: left;

        }

        &--name {
            font-weight: 400;
            font-size: 17px;
            color: #222;
            margin-bottom: 3px;
            text-decoration: none;
            position: relative;

            @media only screen and (max-width:550px) {
                font-size: 15px;
                transform: translateX(-8px);
            }


            &--info {
                
                position: absolute;
                top: 170px;
                background-color: #fff;
                left: 340px;
                width: 350px;
                // height: 200px;
                clip-path: polygon(0 33%, 20% 33%, 46% 33%, 52% 20%, 59% 33%, 100% 34%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 8% 100%, 0 100%);
                // overflow: hidden;
                transition: all 0.8s;
                opacity: 0;
                visibility: hidden;
                transform: translateY(10px);
                border: 1px solid #eee;
                box-shadow: 0 0 4rem rgba(#111, 0.3);


                @media only screen and (min-width:$bp-largest) {
                    left: 38rem;
                    top: 17rem;
                }

                @media only screen and (max-width:1600px) {
                    left: 29rem;
                }


                @media only screen and (max-width:1200px) {
                    left: 20rem;
                }

                @media only screen and (max-width:900px) {
                    top: 22rem;
                }

                @media only screen and (max-width:700px) {
                    top: 30rem;
                    left: 0rem;
                }

                @media only screen and (max-width:550px) {
                    top: 27rem;
                    left: 0rem;
                    width: 300px;
                }




                &:hover {
                    opacity: 1 !important;
                    visibility: visible !important;
                    transform: translateY(0px);
                }



                &--footer {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1rem 2rem;


                    &--btn {
                        text-decoration: none;
                        display: inline-block;
                        background-color: #3A7A7C;
                        padding: 5px 12px;
                        border-radius: 50px;
                        color: rgba(#fff, 0.9);
                        font-family: $font-dirooz;
                        font-weight: 100;
                        position: relative;
                        z-index: 1;
                        transition: all 0.2s;
                        outline: none;

                        &:hover {
                            transform: translateY(-2px);
                        }

                        &:active {
                            transform: translateY(3px);
                        }


                        &::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            background-color: #3A7A7C;
                            z-index: -1;
                            opacity: 1;
                            border-radius: 300px;
                            transition: all 0.3s;

                        }


                        &:hover::after {
                            opacity: 0;
                            transform: scale(1.4, 1.6);

                        }

                    }
                }

                figure {
                    padding-top: 10rem;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    cursor: pointer;
                    margin-top: 10px;

                    img {
                        border-radius: 100%;
                        width: 40px;
                    }

                    span {
                        color: #111;
                        font-size: 22px;
                        font-weight: 600;
                        transform: translateX(-15px);

                    }

                }

                p {
                    text-align: right;
                    padding-right: 10px;
                    font-family: $font-dirooz;
                    // width: 300px;
                    padding-left: 100px;
                    padding-top: 5px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #ccc;
                }
            }
        }

        span {
            color: #666;
            font-family: 600;
            font-size: 14px;

            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }



    &__introduction {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;

        @media only screen and (max-width:700px) {
            padding: 0 5rem;
        }

        @media only screen and (max-width:550px) {
            padding: 0 0rem;
        }


        &--logo {
            margin-top: 5px;
            text-align: center;
            margin-right: 20px;
            font-size: 30px;
            color: #111;
            line-height: 1;
            margin-top: 5px;


            @media only screen and (max-width:550px) {
                font-size: 24px;
            }




            span {
                display: block;
                // font-family: 'Pacifico', cursive;
                // font-family: 'Shizuru', 
                // cursive;

                font-family: 'Caveat', cursive;

            }
        }
    }
}





.content__user--info {

    span {

        @media only screen and (max-width:550px) {
            font-size: 12px;
        }
    }

    @media only screen and (max-width:550px) {
        transform: translateX(-8px);
    }
}

//////////////////////////////////////////@at-root

///  Cheat  


.content__user--name:hover+.content__user--name--info {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    border: 1px solid #eee
}