 .main {


     &__topic {
         margin-top: 50px;
         font-family: $font-vazir;
         font-size: 4rem;


         @media only screen and (max-width:350px) {
            font-size: 25px;
         }

         span {
             font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
             font-weight: 500;
         }



     }

     &__img {
         width: 100%;
         margin-top: 20px;

         img {
             width: 100%;
         }
     }
 }