.sidebar {

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border-bottom: 1px solid #ddd;

    padding: 1.5rem 17rem;
    padding-bottom: 3px;

    @media only screen and (max-width:$bp-large) {
        padding: 1.5rem 14rem;
    }

    @media only screen and (max-width:$bp-medium) {
        padding: 1.5rem 10rem;
    }
    @media only screen and (max-width:$bp-small) {
        padding: 1.5rem 5rem;
    }
    @media only screen and (max-width:500px) {
        padding: 1.5rem 3rem;
    }

    &__img {
        width: 60px;
        margin-right: auto;

        img {
            width: 100%;
        }
    }


    &__btn {
        text-decoration: none;
        display: inline-block;
        background-color: #3A7A7C;
        padding: 1.1rem 1.8rem;
        border-radius: 300px;
        color: rgba(#fff, 0.9);
        font-family: $font-dirooz;
        font-weight: 100;
        position: relative;
        z-index: 1;
        transition: all 0.2s;
        outline: none;

        &:hover {
            transform: translateY(-2px);
        }

        &:active {
            transform: translateY(3px);
        }


        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #3A7A7C;
            z-index: -1;
            opacity: 1;
            border-radius: 300px;
            transition: all 0.3s;

        }


        &:hover::after {
            opacity: 0;
            transform: scale(1.4, 1.6);

        }

    }
}